* {
    margin: 0;
    color: #FFF;
}

header {
    display: flex;
    align-items: center;
    height: 5vh;
}

main {
    background-color: #000;
    height: 90vh;
    display: flex;
    align-items: center;
}

section {
    background-color: #2c6100;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    margin: 0 25px;
    color: #000;
} 

p {
    color: #FFF;
    font-size: 26px;
    margin-bottom: 50px;
}

img {
    max-height: 650px;
}

button {
    border-radius: 5px;
    background-color: #2c6100;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
}

.canvas {
    margin: 0 auto;
}

.hidden {
    display: none;
}

.info {
    margin: 0 auto;
}

.info div {
    text-align: center;
    max-width: 750px;
}

.info button {
    font-size: 42px;
    padding: 15px 42px;
}

#feedback {
    color: #FFF;
    margin: 0;
    margin: 0 auto;
}

.btn-q {
    width: 250px;
    height: 70px;
    font-size: 24px;
    margin-top: 25px;
}

#no-btn {
    float: right;
    background-color: #a1164e;
}